.contact{
  margin-top: 1rem;
    height: auto;
    width: -webkit-fill-available;
    /* min-height: 40vh; */
}

/* h4{
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; */
/* } */

.contact-body{
  display: flex;
  width: inherit;
}

.form-container{
    /* max-width: 90%; */
    margin: 0 auto;
    width: 50%;
}

.blog{
  width: 50%;
  justify-content: center;
  align-items: center;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  font-family: Helvetica, sans-serif;
}

.form-group{
    display: flex;
}


label{
    width: 150px;
}

textarea{
    height: 300px;
}

input,
select,
textarea {
  border: 1px solid rgb(219, 213, 213);
  background-color: white;
  color: black;
  border-radius:  0.25rem;
  font:  1.25rem /  1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width:  100%;
  padding: 8px 14px;
  margin-bottom:  1rem;
}

/* Styling specific text entry fields */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  /* Additional styles for text entry fields */
}

/* Styling the submit button */
button[type="submit"] {
 float: inline-end;
  padding: 12px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(135deg, #5b5c5e  0%, #c3cfe2  100%);
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover{
  background: linear-gradient(white  ,grayscale);
  color: black;
}

/* Styling for form groups */
.form-group {
  margin-bottom:  1rem;
}

/* Styling for form labels */
label {
  display: block;
  margin-bottom:  0.5rem;
}


.wrapper {
  margin: 2rem auto;
  width: 350px;
  font-size: small;
}

.title {
  text-align: center;
  color: #1b1b1b;
}

.heading {
  font-weight: bold;
  letter-spacing: 7px;
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
}

.heading::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #e8e8e8;
  z-index: -1;
  filter: blur(50px);
  height: 50px;
}

.color {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hex {
  text-align: end;
  font-family: monospace;
  text-transform: uppercase;
}

.black {
  background: var(--black);
  color: var(--ch-white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.eerie-black {
  background: var(--ch-black);
  color: var(--ch-white);
}

.chinese-black {
  background: var(--eer-black);
  color: var(--ch-white);
}

.night-rider {
  background: var(--night-rider);
  color: var(--ch-white);
}

.chinese-white {
  background: var(--ch-white);
  color: var(--night-rider);
}

.anti-flash-white {
  background: var(--af-white);
  color: var(--night-rider);
}

.white {
  background: var(--white);
  color: var(--night-rider);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.border {
  color: var(--night-rider);
  padding: 10px 10px;
  text-align: center;
}

.border span {
  border-radius: 5px;
  color: var(--ch-white);
  padding: 2px 4px;
  background-color: var(--night-rider);
}

@media (max-width: 768px) {

  .contact-body{
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  }

  
  .form-container{
      /* max-width: 90%; */
      margin: 0 auto;
      width: 90%;
  }
  
  .blog{
    width: 100%;
  }

}

@media (min-width: 1080px) {

.wrapper {
  margin: 2rem auto;
  width: 550px;
  font-size: small;
}

}