.footer{
    margin: 0 auto;
    justify-content: center;
    color: white;
}

ul {
    list-style: none;
}

.footer-icon {
    height: 50px;
    width: 50px;
}

.footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 0px 0px;
}

.top-footer {
    padding-top: 5rem;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.bottom-footer {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #adc8fd  0%, #646668  100%);
}

.footer-text {
    font-style: italic;
    font-size: small;
    padding-bottom: 5px;
    color: white;
    margin: 0px 10px;
  }

  .footer-column{
    margin: 0 auto;
    justify-content: center;
  }
  

  .footer-column>ul {
    list-style: none;
    text-align: left;
    font-size: 14px;
    padding: 0;
  }

  .footer-column li {
    padding: 2px;
    text-align: initial;
    display: flex;
  }


  @media only screen and (max-width:  769px) {
    .footer-menus{
        flex-direction: column;
    }

    .bottom-footer{
        flex-direction: column;
    }
  }