.keja{
    min-height: 50vh;
}

.keja-header {
    height:  150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../images/keja-banner.jpg');
    background-size: contain; /* Optional: to cover the entire div */
    background-repeat: no-repeat; /* Optional: to prevent repeating */
    color: black;
    border-bottom: 1px solid black;
    background-color: white;
}



.keja-header h2{
    margin-right: 2rem;
}
.keja-body{
    width: -webkit-fill-available;
}


/* CSS for right alignment */
.keja-section-right {
    display: flex;
    flex-direction: row-reverse;
}

/* CSS for left alignment */
.keja-section-left {
    display: flex;
    flex-direction: row;
}



.keja-section-image{
    width: 50%;
}

.keja-image{
    width:100% ;
}

.keja-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Optionally, you can set a width and height if needed */
    width:  50%; /* Adjust as needed */
}


@media only screen and (max-width:  769px) {
    .keja-section{
        flex-direction: column;
    }

    .keja-section-image{
        width: -webkit-fill-available;
    }

    .keja-section-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Optionally, you can set a width and height if needed */
        width:  100%; /* Adjust as needed */
    }
}