.service-list{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.service{
    padding: 1rem;
    width: 300px;
}

.service-icon{
  text-align: center;
}

.service-icon>img{
    height: 50px;
    width: 50px;
   
}

.service-description{
    /* font-style: italic; */
}

.service-stack{
    font-weight: bold;
}



@media (max-width: 768px) {
  .service-list{
    flex-direction: column;
  }
}