.service-list{
    display: flex;
}

.service-description{
    /* font-style: italic; */
}

.service-stack{
    font-weight: bold;
}



@media (max-width: 768px) {
  .service-list{
    flex-direction: column;
  }
}