/* Existing styles */
.navbar {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
     /* background: linear-gradient(135deg, #adc8fd  0%, #646668  100%); */
     /* background: linear-gradient(#817c7c,#fff); */
    /*box-shadow:  0  5px  15px rgba(0,  0,  0,  0.1); */
}

.navbar-logo{
    margin-left: 2rem ;
}

.navbar-logo p a{
   text-decoration: none;
   color: black;
}

.navbar-menu ul {
    display: flex;
}

.menu-item {
    margin:  0  1rem;
    opacity:  1;
    transition: opacity  0.5s ease-in-out;
}

.menu-item a{
    color: black!important;
    font-weight: bold;
}

.menu-item .active {
    background: linear-gradient(135deg, #468a9b   0%, #dcdcc0   100%);
    padding:  10px;
    border-radius:  5px;
    margin:   0   1rem;
    opacity:   1;
    color: white!important;
    /* transition: opacity   0.5s ease-in-out; */
}


.menu-item a:hover {

    background: linear-gradient(135deg, #e2c08d  0%, #dcdcc0  100%);
    padding: 10px;
    border-radius: 5px;
    margin:  0  1rem;
    opacity:  1;
    transition: opacity  0.5s ease-in-out;
    color: white!important;
}

.navbar-menu {
    max-height:  1000px; /* Example value, adjust as needed */
    overflow: hidden;
    /* transition: max-height  0.5s ease-in-out; */
}

.navbar-menu.closed {
    max-height:  0;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.menu-item a:active {
    text-decoration: none;
    color: white;
    background-color: wheat;
}

.close-btn {
    position: absolute;
    top:  1rem;
    right:  1rem;
    cursor: pointer;
    border: solid 1px #242424;
    /* Other styles as needed */
}
.navbar-logo>p {
    font-weight: bold;
}

.toggle-btn{
    /* background: linear-gradient(135deg, #adc8fd  0%, #646668  100%); */
    box-shadow:  0  5px  15px rgba(0,  0,  0,  0.1);
    border: none;
    border-radius: 0;
}


/* Mobile view styles */
@media only screen and (max-width:  769px) {
    .navbar-menu {
        position: fixed;
        top:  0;
        left:  0;
        width:  0;
        height:  100%;
        overflow: hidden;
        transition: width 0.5s ease;
        z-index:  999;
    }

    .navbar-logo{
        margin-left: 1rem ;
    }

    .navbar-menu.open {
        width:  75%;
        background: linear-gradient(#fff,#242424);
        
        
    }

    .toggle-btn {
        display: block; /* Show toggle button on mobile */
       
    }

    .navbar-menu ul {
        flex-direction: column; /* Stack menu items vertically */
        padding:  1rem; /* Add padding inside the drawer */
    }

    .menu-item {
        margin:  1rem  0; /* Add vertical margins between menu items */
    }
}

/* Hide toggle button on larger screens */
@media only screen and (min-width:  769px) {
    .toggle-btn {
        display: none;
    }
}