/* portfolio.css */

.main-container.portfolio {
    padding: 20px;
  }
  
  .projects {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project-details h3 {
    margin-top: 0;
  }
  
  .project-details a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .project-details a:hover {
    background-color: #0056b3;
  }
  

  @media (max-width: 768px) {

    .projects{
        flex-direction: column;
    }
  }