/* portfolio.css */

.main-container.portfolio {
    padding: 20px;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .project {
    border: none;
    display: flex;
    border-radius: 5px;
    box-shadow:  2px 2px 4px 4px rgba(0, 0, 0, 0.1);
    
    /* padding: 20px; */
  }

  .project-details{
    padding: 0.5rem;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  
  .project img {
    width: auto;
    height: -webkit-fill-available;
    border-radius: 5px;
    /* margin-bottom: 10px; */
  }
  
  .project-details h3 {
    margin-top: 0;
  }
  
  .project-details a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .project-details a:hover {
    background-color: #0056b3;
  }

  a.project-button {
    float: inline-end;
    margin: 1rem;
    bottom: 0;
}
  

  @media (max-width: 768px) {

    .projects{
        flex-direction: column;
    }

    .project{
      flex-direction: column;
    }

    .project img {
      width: -webkit-fill-available;
  }
  }