
  
.takeOff {
    background-image: url('/src/assets/images/banner.jpeg');
    background-size: inherit;
    background-position-y: center;
    background-position-x: center;
    object-fit: cover;
    height: 60vh;
    background-repeat: no-repeat;
    color: #464a4b;
    font-size: medium;
    margin: 0 auto;
    display: flex;
    font-weight: bold;
}

.cta-text {
    position: relative;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    text-align: left;
    margin-left: 1rem;
    animation: gentle-entry  10s ease-in-out infinite;
}


@media only screen and (max-width:  768px) {
    .cta-text{
       align-self: self-end;
    }

}

@media only screen and (max-width:  1200px) {
    .takeOff{
        background-position-y:center;
        background-size: cover;
    }
    

}

@keyframes gentle-entry {
    from {
      opacity:  0;
      transform: translateY(20px);
    }
    to {
      opacity:  1;
      transform: translateY(0);
    }
  }

  @keyframes subtle-pulse {
    0% {
     transform: scale(1);
   }
    50% {
     transform: scale(1.01);
   }
    100% {
     transform: scale(1);
   }
 }


  
 
  